.card {
    -fx-padding: 10;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.hbox, .flowpane {
    -fx-spacing: 10;
    -fx-padding: 10; /* Adds padding inside the HBox or FlowPane */
    -fx-background-color:  #2C3E50; /* Dark grey background, adjust as needed */
}

.scroll-pane {
    -fx-background:  #2C3E50;
    -fx-background-color:  #2C3E50;
}

.button {
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6);
    -fx-background-radius: 5;
    -fx-padding: 5 20 5 20;
    -fx-text-fill: #333;
}

.dialog-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}
.user-details {
    -fx-background-color: #334455;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.user-info {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.progress-bar {
    -fx-accent: #0084ff;  /* Blue color for the progress bar */
}
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffd700; /* Golden yellow */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.duo-button, .betting-button {
    -fx-background-color: #5643fa; /* Rich blue */
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffd700; /* Golden border */
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5px 15px;
    -fx-font-weight: bold;
}

.game-mode-label {
    -fx-background-color: #7b1fa2; /* Darker purple */
    -fx-text-fill: #ffd700; /* Golden yellow */
    -fx-padding: 10px;
    -fx-font-family: 'Arial';
    -fx-font-size: 16px;
    -fx-background-radius: 10;
}

/* AnchorPane Background */
.anchor-pane {
    -fx-background-color: #42275a; /* Deep purple */
}
.menu-button {
    -fx-background-color: #FFD700; /* Gold background for buttons */
    -fx-text-fill: #191970; /* Navy text color */
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20; /* Padding for better button size */
    -fx-background-radius: 5; /* Rounded corners for the button */
}




